<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.live.mapper.UserOpinionMapper">

    <resultMap id="userOpinionMap" type="UserOpinion">
        <id property="opinion_id" column="uoopinion_id"/>
        <result property="user_id" column="user_id"/>
        <result property="opinion" column="opinion"/>
        <result property="picture" column="picture"/>
        <result property="star" column="star"/>
        <result property="pictureUrl" column="pictureUrl"/>
        <result property="picture_name" column="picture_name"/>
        <association property="opinionCount" javaType="OpinionCount">
            <id property="opinion_id" column="ocopinion_id"/>
            <result property="count" column="count"/>
        </association>
    </resultMap>

    <select id="find" resultMap="userOpinionMap">
        select uo.opinion_id as uoopinion_id,user_id,opinion,picture,star,pictureUrl,picture_name,
        oc.opinion_id as ocopinion_id,oc.count
        from user_opinion uo,opinion_count oc
        where uo.opinion_id = oc.opinion_id and user_id = #{user_id}
    </select>

    <insert id="insert" parameterType="UserOpinion">
        insert into user_opinion(user_id,opinion,picture,star,pictureUrl,picture_name)
        values(#{user_id},#{opinion},#{picture},#{star},#{pictureUrl},#{picture_name})
    </insert>

    <delete id="deleteById" flushCache="true">
        delete uo,oc
        from user_opinion uo,opinion_count oc
        where uo.opinion_id=oc.opinion_id and uo.opinion_id=#{opinion_id}
    </delete>

    <update id="update" parameterType="UserOpinion">
        update user_opinion
        <trim prefix="SET" suffixOverrides=",">
            <if test="opinion !=null and opinion !=''">opinion=#{opinion},</if>
            <if test="picture !=null and picture !=''">picture=#{picture},</if>
            <if test="star !=null and star !=''">star=#{star},</if>
            <if test="pictureUrl !=null and pictureUrl !=''">pictureUrl=#{pictureUrl},</if>
            <if test="picture_name !=null and picture_name !=''">picture_name=#{picture_name},</if>
        </trim>
        where opinion_id=#{opinion_id} and user_id = #{user_id}
    </update>

</mapper>